{% extends 'temp.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block css %}
    <style>
        body{
            background-color: #8d8d8d;
        }
    </style>
{% endblock %}

{% block monitor_options %}
    CPU监控信息
{% endblock %}

{% block judge_connect %}
    <div id="conn"></div>
{% endblock %}

{% block m_data %}


{% endblock %}

{% block js %}
    <script src="{% static 'js/monitor.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
{% endblock %}